name: validate 'setup-mockery' action
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  setup-versions:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        mockery: [3.6.1, 2.9.4]
    steps:
      - uses: actions/checkout@v6

      - name: setup-mockery ${{ matrix.mockery }}
        uses: ./
        with:
          mockery-version: ${{ matrix.mockery }}

      - name: verify mockery
        run: |
          chmod +x ./__tests__/verify-mockery.sh
          ./__tests__/verify-mockery.sh ${{ matrix.mockery }}
        shell: bash
